body{
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 52px;
}
span{
  font-size: 35px;
  font-weight: 700;
}

@media screen and (max-width: 570px) {
  .navbar-brand {
    font-size: 18px;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }
}