:root{
  --primary-color:#FFF

}
/* shared styles */
.shared-tilte{
  color: #131318;
text-align: left;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.shared-descriptoin{
  color: rgba(19, 19, 24, 0.70);
text-align: left;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.shared-tilte-II{
  color: #131318;

font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.shared-descriptoin-II{
color: #5A5A5D;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

}
.cards-title{
color: var(--primary-color);
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

.cards-div{
  display: flex;
justify-content: center;
align-items: center;
}


.shared-images{
  width: 64px;
height: 64px;
}
.hotels-img{
  margin-bottom: 32px;
}
.hotels-title{
  margin-bottom: 16px;
}
body{
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 52px;
  font-family: Mulish;
}
.shared-card-nav-text{
  color: #5A5A5D;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* Heading style */


span{
  font-size: 35px;
  font-weight: 700;
}


.explore-your-travel{
  background: 
    linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url('../Images/Group\ 13\ \(1\)\ \(1\).png');

  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 106px;
  text-align: center;
  border: 2px solid green;
  border-radius: 16px;

}


.explore-your-travel-title h1{
  color: var(--primary-color);


font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.explore-your-descripton p{
  padding-top: 24px;
  color:  var(--primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.header-input{
  width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);

padding-left: 16px;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.button-primary{
  margin-top: 50px;
  margin-right: 24px;
  width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;

text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.button-icon{
  width: 24px;
height: 24px;
}

/* Main part-I */
.main-part-I{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 100px;
}
.button-primary2{
 
  margin-top: 32px;
  width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;

text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.button-primary3{
 

  margin-bottom: 50px;
  width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;

text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.our-popular-tours-description, .our-popular-tours-list, .our-popular-tours-description-II{
  margin-top: 24px;
}

.everest{
  width: 540px;
height: 550px;
flex-shrink: 0;

border-radius: 16px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

/* Main part-II */
.choose-your-destination-title{
text-align: center;
}
.choose-your-destination-description{
  text-align: center;
margin-top: 24px;
margin-bottom: 48px;
}
.Maldives,.Indonesia,.bangladesh, .bandarban{
  height: 300px;
}
.Maldives{
  border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 5.png') lightgray 50% / cover no-repeat;


}

.Indonesia{
  border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 8.png') lightgray 50% / cover no-repeat;
 
}

.broader-Southeast-Asian-region{
  display: grid;
  grid-template-columns: repeat(2,573px);
  gap: 24px;
  margin-bottom: 24px;
}


.Srilanka, .NorthAmerica, .Kashmir{
  height: 286px;
}
.Srilanka{

  border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 6.png') lightgray 50% / cover no-repeat;

}
.NorthAmerica{

  border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 7.png') lightgray 50% / cover no-repeat;

}
.Kashmir{
 
  border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 9.png') lightgray 50% / cover no-repeat;

}
.Srilanka-NorthAmerica-Kashmir{
  display: grid;
  grid-template-columns: 374px  474px  274px;
  gap: 24px;

  margin-bottom: 24px;
  
}

.bangladesh{
  border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 11.png') lightgray 50% / cover no-repeat;
}
.bandarban{
  border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 10.png') lightgray 50% / cover no-repeat;

}

.Bangladesh-Bandarban{
  display: grid;
  grid-template-columns: 473px 673px;
  gap: 24px;
  
}

.why-choose-us{
  margin-top: 100px;
 
}
.why-choose-us-title,.why-choose-us-description{
  text-align: center;
}
.why-choose-us-description{
  margin-top: 24px;
}



/* Main part-III */
.handpicked-hotels{
  padding: 32px 55px 32px 32px;
  height: 284px;
  border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}

.world-Class-Service{
  padding: 32px 55px 32px 32px;
  height: 284px;
  border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.cards-II-part-I{
  display: grid;
  grid-template-columns: 573px 573px;
  gap: 24px;
  margin-bottom: 24px;
}
.Best-Price-Guarantee{
  padding: 32px 55px 32px 32px;
  height: 284px;
  width: 573px;
  border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.cards-II-part-II{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

}

.Deals-and-Discounts-description, .Deals-and-Discounts-title{
  text-align: center;
}
.Deals-and-Discounts-description{
  margin-top: 24px
}

.Tour-To-Satorini-div-I{
padding: 52px 77px 50px 50px;
height: 389px;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);

}

.Tour-To-Satorini-div-I-nav-bar{
  display: flex;
  
}
.shared-card-nav-text{
  margin-right: 24px;
  margin-bottom: 24px;
}

.Tour-To-Satorini-I{
  width: 1170px;
height: 500px;
  border-radius: 16px;
background: url('../Images/Group\ 39.png') lightgray 50% / cover no-repeat;
background-size: cover;
}

.Tour-To-Satorini-II{
  width: 1170px;
height: 500px;
  border-radius: 16px;
background: url('../Images/Group\ 39.png') lightgray 50% / cover no-repeat;
background-size: cover;
}

.Tour-To-Satorini-I{
  display: grid;
  grid-template-columns: 1fr 579px;
  padding: 56px 56px 55px 535px;

  margin-bottom: 24px;
}
.Tour-To-Satorini-II{
  display: grid;
  grid-template-columns: 579px 1fr;
  padding: 56px 535px 56px 56px;

  margin-bottom: 24px;
}

.Tour-To-Satorini-div-I-phone{
  margin-top: 16px;
  color: #FF5400;

font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
/* Main part-V styles */
.See-All-Packages{
  display: flex;
  text-align: center;
  justify-content: center;
}
.See-All-Packages-button{
  border-radius: 8px;
  background: #FF5400;
  width: 174px;
height: 52px;
flex-shrink: 0;
color: #FFF;
font-size: 20px;
margin-bottom: 100px;

}
.A-Simple-Perfect-Place-To-Get-Lost-title, .A-Simple-Perfect-Place-To-Get-Lost-list{
color: #131318;
}
.A-Simple-Perfect-Place-To-Get-Lost-title{
  
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 60px;
}
.A-Simple-Perfect-Place-To-Get-Lost-list{
  font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
}
.Watch-Our-Mountain-in-Bangladesh-title{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.Watch-Our-Mountain-in-Bangladesh{
 
height: 424px;
border-radius: 16px;

background-image: url('../Images/Group\ 40089.png');
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}


.cards-III-part-I{
  display: grid;
  grid-template-columns: 1fr 610px;
  gap: 42px;
  margin-bottom: 100px;
}
input{
  width: 393px;
height: 52px;
flex-shrink: 0;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
color: rgba(19, 19, 24, 0.30);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.input-email{
  margin-top: 16px ;
  margin-bottom: 24px ;
}
.input-form-button{
  width: 393px;
height: 52px;

}
.Newsletter{
  border-radius: 16px;
border: 1px solid #FF5400;
padding: 40px;
}
.Travel-button{
  position: relative;
  left: 339px;
  top: 257px;
  width: 324px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;

}
.Travel{
  height: 422px;
  border-radius: 16px;
background: url('../Images/Rectangle\ 8\ \(1\).png') lightgray 50% / cover no-repeat;

}


.cards-III-part-II{
  display: grid;
  grid-template-columns: 1fr 672px;
  gap: 24px;

  margin-bottom: 100px;
}


/* Responsive */

@media screen and (max-width: 570px) {
  body{
    padding: 0;
  }
  .navbar-brand {
    font-size: 10px;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }
}